_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
assets/libs/
node_modules/
vendor
.idea
.venv
_posts.old/
_projects.old/
assets/projects/cerco/index.md
assets/projects/coriolis/index.md
assets/projects/pig/index.md
assets/projects/ptag/index.md
assets/projects/q7/index.md
assets/projects/ric/index.md
assets/projects/sct600/index.md
assets/projects/telemetry/index.md
assets/projects/trazadores/index.md
assets/projects/txpmnd/index.md
assets/projects/utt/index.md
